@import "../../styles/variables.scss";

.custom-select-component {
  &.custom-select {
    width: 100%;
    background-color: transparent;
    color: $daypicker-caption;
    border: 0.5px solid $daypicker-caption;
    height: 40px;
  }
}