@import "../../styles/variables.scss";

.image {
  max-width: 100%;
  height: auto;
}

.footer-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  font-size: 15px;
  background: white;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.footer-icon {
  height: 46px;
  margin-left: 20px;
  padding-right: 88px;
}

.fa {
  margin-top: 30px;
  padding-left: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  ul.fa {
    display: none;
  }
}
