@import "../../../styles/variables.scss";

.card {
  color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}

.tab-card {
  border: 1px solid #eee;
}

.detail {
  margin-top: 30px;
}

.image-detail {
  max-width: 100%;
  height: auto;
  width: 292px;
  height: 150px;
}

.image-bottom {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

.button-online {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 295px;
  max-width: 100%;
  height: 50px;
  border: none;
}

.button-buyvic {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 170px;
  max-width: 100%;
  height: 50px;
  border: none;
}
